# Gitignore sirve para indicar a git que ficheros debe de hacer seguimiento o no 
# y por lo tanto no subir a github lo que no deseamos

#variables de entorno
.env
#archivos del sistema
Thumbs.db

#dependencias
node_modules/ 

#carpetas build
dist/
build/

#logs
#npm-debug.log*